body {
    color: white;
    margin: 0px;
    padding: 0;

}

.gateway-container {
    /*
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    */
}

h1,h3 {
    color: white;
    font-family:  'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 9rem;
    margin-top: 30vh;
    margin-bottom: 2vh;
}

h3 {font-size: 3rem;
    margin-top: 2vh;
}

.main {
    background-color: blue;
    width: 100%;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

#backgroundVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}